body {
  background: #f5f5f5;
}

.top-wrapper {
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  padding: 4px 0;
  font-size: 13px;
}

.location-text {
  font-size: 12px;
  color: #666;
}

.banner-container {
  width: 100%;
  background: #e9f1ff;
}

.banner-img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  display: block;
}

.card img {
  height: 180px;
  object-fit: contain;
}

.section-img {
  width: 30%;
  max-height: 50%;
  object-fit: contain;
  margin-bottom: 10px;
}

.fitur-img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

/* ===== footer ===== */
.footer {
  background: #f5f5f5;
  border-top: 1px solid #ddd;
}

.footer-title {
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 16px;
}

.footer p {
  margin: 4px 0;
  font-size: 14px;
  color: #555;
  cursor: pointer;
}

.footer p:hover {
  color: #03ac0e;
}

.footer {
  background: #f5f5f5;
  border-top: 1px solid #ddd;
}

.footer-title {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
}

.footer p {
  margin: 4px 0;
  font-size: 13px;
  color: #555;
  cursor: pointer;
}

.footer p:hover {
  color: #03ac0e;
}

/* logo keamanan */
.logo-sec {
  height: 28px;
  object-fit: contain;
}

/* social */
.social-icons img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* benefit */
.benefit {
  font-size: 13px;
  margin: 6px 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon {
  font-weight: bold;
  color: #03ac0e;
}

/* qr & store */
.qr {
  width: 70px;
}

.store {
  width: 110px;
}

/* tulisan bawah qr */
.learn-more {
  font-size: 12px;
  color: #03ac0e;
  cursor: pointer;
  margin-top: 4px;
}

/* bahasa */

.footer-bottom {
  display: flex;
  justify-content: space-between; /* kiri copyright, kanan bahasa */
  align-items: center;
  font-size: 12px; /* samain ukuran semua */
}

.lang-switch {
  display: flex;
  gap: 10px;
  align-items: center;
}

.lang-active {
  color: #03ac0e;
  font-weight: 500;
}

.lang-box {
  border: 1px solid #ccc;
  padding: 2px 10px;
  border-radius: 8px;
  background: #fff;
}

.cart-icon {
  font-size: 20px;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
}

.cart-icon:hover {
  background: #f2f2f2;
}
